.mid-text{
  transform: translate(-50%,-50%);
}

.wave {
  width: 200%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave1{
  background-image:url(/public/images/header/wave-1.svg);
  -webkit-background-size:50% 80px ;
  background-size: 50% 80px;
}

.wave2{
  background-image:url(/public/images/header/wave-2.svg);
  -webkit-background-size:50% 100px ;
  background-size: 50% 100px;
  animation: animate 12s linear infinite;
}

.wave3{
  background-image:url(/public/images/header/wave-3.svg);
  -webkit-background-size:50% 80px ;
  background-size: 50% 80px;
  animation: animate 18s linear infinite;
}

@keyframes animate{
  0%{
      transform: translateX(0) translateZ(0) scaleY(1);
  }
  50%{
      transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  100%{
      transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
header {
  min-height: 100vh;
  /* background-color: #577eff; */
  position: relative;
  overflow: hidden;
}
#shape {
  position: absolute;
  left: 0;
  bottom: -2vw;
}
.header_wave:not(#shape) {
  position: absolute;
  left: 0;
}
header .header_wave:nth-child(1) {
  opacity: 0.4;
  bottom: -0.1vw;
  animation: move-1 5s infinite;
}
@keyframes move-1 {
  50% {
    transform: translateY(15px);
  }
}
header .header_wave:nth-child(2) {
  opacity: 0.3;
  bottom: 0.5vw;
  animation: move-2 4s infinite;
}
@keyframes move-2 {
  50% {
    transform: translateY(35px);
  }
}
header .header_wave:nth-child(3) {
  bottom: 0.3vw;
  opacity: 0.2;
  animation: move-3 3.5s infinite;
}
@keyframes move-3 {
  50% {
    transform: translateY(25px);
  }
}
header .header_wave:nth-child(4) {
  bottom: 0.1vw;
  opacity: 0.3;
  animation: move-4 3s infinite;
}
@keyframes move-4 {
  50% {
    transform: translateY(20px);
  }
}
header h1 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 8vmin;
  text-align: center;
  color: #ffffff;
}
section p {
  font-family: "Poppins", sans-serif;
  padding: 30px 35px;
  margin-top: 50px;
  text-align: justify;
  line-height: 2em;
  letter-spacing: 0.5px;
}


/* ========================================= */

@tailwind base;
@tailwind components;
@tailwind utilities;
