.mid-text{
  transform: translate(-50%,-50%);
}

.wave {
  width: 200%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave1{
  background-image:url(/public/images/header/wave-1.svg);
  -webkit-background-size:50% 80px ;
  background-size: 50% 80px;
}

.wave2{
  background-image:url(/public/images/header/wave-2.svg);
  -webkit-background-size:50% 100px ;
  background-size: 50% 100px;
  animation: animate 12s linear infinite;
}

.wave3{
  background-image:url(/public/images/header/wave-3.svg);
  -webkit-background-size:50% 80px ;
  background-size: 50% 80px;
  animation: animate 18s linear infinite;
}

@keyframes animate{
  0%{
      transform: translateX(0) translateZ(0) scaleY(1);
  }
  50%{
      transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  100%{
      transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}


/* ========================================= */

@tailwind base;
@tailwind components;
@tailwind utilities;
