.mid-text{
  transform: translate(-50%,-50%);
}
section{
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100px;
  background: url(/public/images/header/wave.png);
  background-size: 1000px 100px;
  overflow: hidden;
}

.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
  overflow: hidden;
}

.wave2{
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.wave3{
  animation: animate1 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave4{
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate1 {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}

.wave2{
  background-image:url(/public/images/header/wave-2.svg);
  -webkit-background-size:50% 100px ;
  background-size: 50% 100px;
  animation: animate 12s linear infinite;
}

.wave3{
  background-image:url(/public/images/header/wave-3.svg);
  -webkit-background-size:50% 80px ;
  background-size: 50% 80px;
  animation: animate 18s linear infinite;
}

@keyframes animate{
  0%{
      transform: translateX(0) translateZ(0) scaleY(1);
  }
  50%{
      transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  100%{
      transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

/* .headerHeight{
  min-height: 90vh;
}

header {
  min-height: 90vh;
  background-color: #577eff;
  position: relative;
  overflow: hidden;
}
#shape {
  position: absolute;
  left: 0;
  bottom: -2vw;
}
.header_wave:not(#shape) {
  position: absolute;
  left: 0;
}
header .header_wave:nth-child(1) {
  opacity: 0.4;
  bottom: -0.1vw;
  animation: move-1 5s infinite;
}
@keyframes move-1 {
  50% {
    transform: translateY(15px);
  }
}
header .header_wave:nth-child(2) {
  opacity: 0.3;
  bottom: 0.5vw;
  animation: move-2 4s infinite;
}
@keyframes move-2 {
  50% {
    transform: translateY(35px);
  }
}
header .header_wave:nth-child(3) {
  bottom: 0.3vw;
  opacity: 0.2;
  animation: move-3 3.5s infinite;
}
@keyframes move-3 {
  50% {
    transform: translateY(25px);
  }
}
header .header_wave:nth-child(4) {
  bottom: 0.1vw;
  opacity: 0.3;
  animation: move-4 3s infinite;
}
@keyframes move-4 {
  50% {
    transform: translateY(20px);
  }
} */

header h1 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 8vmin;
  text-align: center;
  color: #ffffff;
}
section p {
  font-family: "Poppins", sans-serif;
  padding: 30px 35px;
  margin-top: 50px;
  text-align: justify;
  line-height: 2em;
  letter-spacing: 0.5px;
}


/* ========================================= */

@tailwind base;
@tailwind components;
@tailwind utilities;
